
<div>

    <p-toast position="top-right"></p-toast>

    <p-confirmPopup></p-confirmPopup>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">

        <a class="navbar-brand" href="#">Angular Application</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">

                <ng-container *ngIf="isLoggedIn">
                    <a class="nav-item nav-link" routerLink="home">Home</a>
                    <a class="nav-item nav-link" routerLink="posts">Posts</a>
                    <a class="nav-item nav-link" href (click)="signOut()">Sign Out</a>
                </ng-container>

                <ng-container *ngIf="!isLoggedIn">
                    <a class="nav-item nav-link" routerLink="login">Login</a>
                    <a class="nav-item nav-link" routerLink="signup">Sign Up</a>
                </ng-container>

            </div>

        </div>
        
    </nav>

    <!-- Main Body -->
    <main class="container my-2">

        <section>

            <router-outlet></router-outlet>

        </section>

    </main>
    <!-- /Main Body -->

</div>